<div id="single-section-page">
    <p class="section-title" id="projects" #projectsSection><span>#projects</span></p>
    <div id="header"></div>
    <div id="section-content">
        <div class="message-alert-container">
            <div class="message-alert" #messageAlert [ngClass]="isMessageAlertVisible ? 'enable' : 'disable'">
                <p>Najedz na miniaturę projektu aby przejść do szczegółowego okna projektu!</p>
            </div>
        </div>
        <div class="project-container" *ngFor="let project of projects">
            <div class="project-content" [ngStyle]="{'background-image': 'url(' + project.image + ')'}">
                <h2 class="project-title">{{project.name}}</h2>
                <div class="project-shadow-effect">
                    <div class="link" [routerLink]="['/project', project.id]"></div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="title">Lista wszystkich projektów na moim Githubie posortowanych względem dat utworzenia projektu: </h2>
    <div class="github-links">
        <div class="github-repo" *ngFor="let repo of githubRepos$ | async">
            <div class="github-repo-icon">
            </div>
            <div class="github-repo-content" (click)="moveToGithubProject(repo)">
                <div class="github-repo-content-title">
                    <span class="repo-title">{{repo.name}}
                    </span><span class="repo-date">({{repo.created_at | date: 'mediumDate'}})</span>
                </div>
                <div class="github-repo-content-subtitle"> {{repo.description}}
                </div>
            </div>
        </div>
    </div>
</div>