@import "../../../shared/variables.scss";
@import "../../../shared/mixins.scss";

#single-section-page {
    background-color: #fff;
    height: auto;
    padding-bottom: 20px;
}

#section-content {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 0px 50px;
    // overflow-x: hidden;

    @media (max-width: 768px) {
        padding: auto;
    }

    & > .project-container {
        flex-basis: calc((100vw - 200px) / 4.5);
        height: calc((100vw - 200px) / 4.5);;
        min-height: 200px;
        min-width: 200px;
        border: 4px solid $primary-color;
        margin: 10px;

        @media (max-width: 768px) {
            min-height: 80vw;
            min-width: 80vw;
        }

        & > .project-content {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #fff;
            background-size: cover;
            border-radius: 10px;
            top: 8px;
            left: 8px;
        }
        @include bg-shadow;
    }
}

.project-content {
    overflow: hidden;

    & > .project-title {
        position: absolute;
        top: 0;
        right: 10px;
        width: auto;
        color: $primary-color;
        text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
        font-weight: bold;

        z-index: 1;
    }
    & > .project-shadow-effect {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 80%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent 5%, rgba(255,250,255,0.75) 25%, rgba(255,255,255,0.85) 100%);
        transition: 1.2s;

        & > .link {
            width: 46px;
            height: 46px;
            background-size: cover;
            transition: 0.6s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &:hover > .project-shadow-effect {
        left: 0;
        top: 0;
    }
}

h2 {
    margin: 10px;
    color: $primary-color;
    text-align: center;
    width: 50%;
    font-weight: 100;
}

.message-alert-container {
    position: absolute;
    top: -150px;

    width: 100vw;
    height: 200px;
    overflow: hidden;
}

.message-alert {
    position: absolute;
    display: flex;
    align-items: center;
    // top: -150px;
    right: -10px;
    padding: 10px 0px;
    padding-left: 25px;
    min-width: 200px;
    height: 100px;
    width: 40%;

    background-color: $primary-color;
    color: $secondary-color;
    z-index: 3;

    &:before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        display: block;
        width: 100px;
        height: 120px;
        border-radius: 50%;
        background-color: $primary-color;
        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        left: -36px;
        top: calc(50 - 18)px;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $secondary-color;
        z-index: 0;
        background-image: url("/assets/images/link.png");
        background-size: contain;
        border: 4px solid $secondary-color;
        @include bg-shadow;

    }
    transition: 1.2s;

}

.message-alert.enable {
    transform: translateX(0);
}
.message-alert.disable {
    transform: translateX(100%);
}

.github-links {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;

    & > .github-repo {
        position: relative;
        display: flex;
        background-color: #6A737D;
        min-width: 100px;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 5px;
        @include bg-shadow;
        transition: 0.6s;
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }

        & > .github-repo-icon {
            position: absolute;
            top: calc(50% - 14px);
            left: 10px;
            width: 28px;
            height: 28px;  
            background-size: contain;
        }

        & .github-repo-content {
            padding-left: 28px;
        }
    }
}

h2.title {
    width: 100%;
}

.repo-title {
    font-weight: 500;
}
.repo-date {
    color: $secondary-color;
}