<div id="single-section-page">
    <p class="section-title" id="contact">#contact</p>

    <div id="section-content">

        <div class="form-section">
            <h2 style="text-align: center;">NAPISZ DO MNIE<span>.</span></h2>
            <form>
                <label for="name">Imię: </label>
                <input type="text" id="name" name="name" placeholder="Kim jesteś?">
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" placeholder="Jak sie do Ciebie odezwać?">
                <label for="message">Wiadomość: </label>
                <textarea id="message" name="message" placeholder="Może tutaj zamieścisz oferte pracy?:)"></textarea>
                <button type="submit">Wyślij</button>
            </form>
        </div>

    </div>
</div>