<div class="box">
    <div class="inside">
        <span class="title">Jakub Jereczek page</span>
        <ul class="desktop-menu">
            <li>
                <span class="link activate">Jakub Jereczek</span>
            </li>
            <li><span class="link">O mnie</span></li>
            <li><span class="link">Projekty</span></li>
            <li><span class="link">Dlaczego ja?</span></li>
        </ul>
        <div class="hamburger" [ngClass]="isMenuOpen ? 'open' : ''" (click)="toggleMenu()">
            <div class="hamburger__line"></div>
        </div>
    </div>
</div>

<div class="mobile-menu-box" [ngClass]="isMenuOpen ? 'open' : ''">
    <ul class="mobile-menu">
        <li><span class="link">O mnie</span></li>
        <li><span class="link">Projekty</span></li>
        <li><span class="link">Dlaczego ja?</span></li>
    </ul>
</div>