<div id="single-section-page">
    <div id="section-content" [ngClass]="{'open' : !loading}">
        <div id="project-container-bg">
            <div id="project-container" *ngIf="projectDetails | async as project">
                <button (click)="back()"></button>
                <div class="links buttons">
                    <ng-container *ngIf="project.github">
                        <div class="github btn" [ngStyle]="{'background-image': 'url(assets/images/github2.png)'}"
                            (click)="moveToProject(project, 'github')"></div>
                    </ng-container>
                    <ng-container *ngIf="project.demo">
                        <div class="demo btn" [ngStyle]="{'background-image': 'url(assets/images/link.png)'}"
                            (click)="moveToProject(project, 'demo')"></div>
                    </ng-container>
                </div>
                <div id="project-images" [ngClass]="{'open' : !loading}">
                    <div class="project-images-content" [ngClass]="{'open' : !loading}">
                        <img *ngFor="let image of _album; let i=index" [src]="image.thumb" (click)="open(i)" />
                    </div>
                </div>
                <div id="project-content-container">
                    <div id="project-content" [ngClass]="{'open' : !loading}">
                        <h2 class="project-content-title">{{project.name}}</h2>
                        <p class="project-content-technologies">Zastosowane technologie:
                            <span>{{project.technologies.join(", ")}}</span></p>
                        <p class="project-content-description">{{project.description}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>