@import "../../../shared/variables.scss";

#single-section-page {
    position: relative;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-content {
    display: flex;
    padding: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    & > div:nth-child(1) {
        flex-basis: 25%;
    }
    & > div:nth-child(2) {
        flex-basis: 75%;
    }
    z-index: 1;

}

.h2-title {
    font-size: 3rem;
    color: $secondary-color;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    @media (max-width: 768px) {
        text-align: left;
    }
    & > span {
        font-weight: bold;
    }
}

.p-describe {
    font-size: 1.7rem;
    margin: 10px;
    text-align: justify;
}


.background_photo2 {
    position: absolute;
    left: -9%;
    top: calc(50% - 200px);
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    width: 45%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;

    @media (max-width: 768px) {
        left: 0%;
        top: 0%;
    }

}