@import "../../../shared/mixins.scss";
@import "../../../shared/variables.scss";

#single-section-page {
    height: calc(100vh + 55px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & > #section-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 60%;
        min-height: 60%;
        margin: 10px;
        text-align: center;
        z-index: 1;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;        
        }

    }
}

h2 {
    font-size: $font-size-big;
    font-weight: 400;
    & > span {
        font-weight: 500;
    }

    @media (min-width: 1024px) {
        font-size: 1.25 * $font-size-big;
    }
}

h3 {
    font-size: $font-size-small;
    font-weight: 100;
    color: $secondary-color;
}
p.section-title {
    color: $secondary-color;
    padding-top: 55px;
}

p {
    color: $secondary-color;
}

.description {
    font-size: $font-size-medium;
    font-weight: 100;
   
    @media (min-width: 1024px) {
        font-size: 1.25*$font-size-medium;
    }
}

.image-profile-container {
    display: inline-block;
    box-sizing: border-box;
    width: 126px;
    height: 126px;


    @media (min-width: 1024px) {
        width: 186px;
        height: 186px;
    }

    border-radius: 50%;
    background-color: $secondary-color;
    padding: 5px;

    & > .image-profile {
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    @include bg-shadow;
}

.background_photo1 {
    position: absolute;
    left: 50%;
    top: calc(50% - 150px);
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    width: 40%;
    height: 40%;
    
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;

}