@import "../../../shared/mixins.scss";

#single-section-page {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;

    & > #section-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 50%;
        min-height: 50%;
        margin: 10px;
        text-align: center;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;        
        }

    }
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    & > span {
        font-weight: 500;
    }
}

p {
    color: #fff;
}

.description {
    font-size: 1.6rem;
}

.image-profile-container {
    display: inline-block;
    box-sizing: border-box;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;

    & > .image-profile {
        background-image: url("/assets/images/profile.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    @include bg-shadow;
}
