
@import "../../shared/variables.scss";

#menu_bar {
    position: fixed;
    width: 100vw;
    height: 55px;
    background-color: $secondary-color;
    z-index: 6;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
    // transition: 1s;
    &.open {
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0);
    }

}

.menu_wrapper {
    position: fixed;
    top: 0;
    left: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
    z-index: 4;
    transition: 1s;


    &.active {
        top: 0%;
        left: 0;
    }
}


.hamburger {
    position: absolute;
    top: 10px;
    right: 25px;
    visibility: visible;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    //border: 2px solid $primary-color;
    //border-radius: 10px;
    transition: .6s;
    z-index: 2;

    &:hover {
        cursor: pointer;
    }
}
.hamburger__line {
  display: relative;
  background-color: $primary-color;
  width: 26px;
  height: 3px;
  border-radius: 5px;

  &:before {
      content: "";
      position: absolute;
      background-color: $primary-color;
      width: 26px;
      height: 3px;
      border-radius: 5px;
      transform: translateY(-6px);
      transition: 0.6s;

  }

  &:after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      width: 26px;
      height: 3px;
      border-radius: 5px;
      transform: translateY(6px);
      transition: 0.6s;
  }
  
}

.hamburger.open .hamburger__line{
      background-color: transparent;
      box-shadow: none;

      &:after {
          transform: rotate(45deg);
      }

      &:before {
          transform: rotate(-45deg);
          
      }
      
}

.hamburger.inside {
    z-index: 6;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


li {
    font-size: $font-size-medium;
    transition: transform .6s;
    &.activate {
        color: $primary-color;
        font-weight: 500;

    }
    &:hover {
        color: $primary-color;
        transform: translateX(5px);
        cursor: pointer;
    }
}

