<div id="menu_bar" [ngClass]="{'open' : isMenuOpen}">
    <div class="hamburger" [ngClass]="{'open' : isMenuOpen}" (click)="toggleMenu()">
        <div class="hamburger__line"></div>
    </div>
</div>

<div class="menu_wrapper" [ngClass]="{'active' : isMenuOpen}">
    <div class="menu_content">
        <ul>
            <li (click)="scrollIntoView('#aboutme')">O mnie</li>
            <li (click)="scrollIntoView('#projects')">Projekty</li>
            <li (click)="scrollIntoView('#whyme')">Dlaczego ja?</li>
        </ul>
    </div>
</div>